.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(0.3rem);

  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.reset {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
