.stimulus {
  position: relative;
}

.stimulus + .stimulus {
  /*
   * I should probably consider leveraging bootstrap's Rows and Cols instead 
   * That way, if I need to wrap on narrow screens, I get stacking with correct spacing
   * fo' free
  */
  padding-left: 8px;
}

.feedback {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
