.stimulus {
  max-width: 49%;
}

.stimulus img {
  max-width: 100%;
  height: auto;
}

.stimulusCorrect {
  border: 0.125rem solid var(--success);
}

.stimulusWrong {
  border: 0.125rem solid var(--danger);
}
