.stimulus {
  position: relative;
  max-width: 50%;
}

.stimulusCorrect {
  border: 0.125rem solid var(--success);
}

.stimulusWrong {
  border: 0.125rem solid var(--danger);
}

.feedback {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
