body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* These should probably go somewhere else but having some classes globally available from here will work */

.btn-xl {
  border-radius: 0.3rem !important;
  line-height: 1.75 !important;
  font-size: 1.75rem !important;
  padding: 0.5rem 1rem !important;
}
